form#bombForm(action="")
    .form-group
        label(for="playerName") Player
        input.form-control#playerName(type="text" name="playerName" required)
    .form-group
        label(for="playerOvr") OVR
        input.form-control#playerOvr(type="number" name="playerOvr" required min="0" max="99")
    .form-group
        label(for="distance") Distance
        input.form-control#distance(type="number" name="distance" aria-describedby="distanceHelp" required min="400" max="600")
        small#distanceHelp.form-text.text-muted (in feet &ndash; min. 400)
    button.btn.btn-primary(type="submit") Submit
