table.table#bombTable
    thead
        tr
            th(scope="col") #
            th(scope="col") Distance
            th(scope="col") Player
            th(scope="col") OVR
            th(scope="col")
    tbody
